.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;

  padding: 0.5rem 1rem;
  margin: auto;
}
.nav button {
  width: auto;
}
.nav * {
  margin: 0;
  padding: 0;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
