/* establish a layer order up-front, from lowest to highest priority */
@layer framework, utils;
/*have to import it separately right now (layout.js)*/
/* import stylesheets into a layer (dot syntax represents nesting) */
@layer utils {
  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  :root {
    --color-black-0: hsl(0, 0%, 12%);
    --color-black-50: hsl(0, 0%, 16%);
    --color-black-100: hsl(0, 0%, 21%);
    --color-black-150: hsl(0, 0%, 25%);
    --color-black-200: hsl(0, 0%, 29%);
    --color-black-250: hsl(0, 0%, 33%);
    --color-black-300: hsl(0, 0%, 38%);
    --color-black-350: hsl(0, 0%, 42%);
    --color-black-400: hsl(0, 0%, 46%);
    --color-black-450: hsl(0, 0%, 50%);
    --color-black-500: hsl(0, 0%, 55%);
    --color-black-550: hsl(0, 0%, 59%);
    --color-black-600: hsl(0, 0%, 63%);
    --color-black-650: hsl(0, 0%, 67%);
    --color-black-700: hsl(0, 0%, 72%);
    --color-black-750: hsl(0, 0%, 76%);
    --color-black-800: hsl(0, 0%, 80%);
    --color-black-850: hsl(0, 0%, 84%);
    --color-black-900: hsl(0, 0%, 89%);
    --color-black-950: hsl(0, 0%, 93%);
  }
  * {
    box-sizing: border-box;
  }
}
